<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Page2</title>

    <style>
        body{background-color: olive;
        }
        h1{ color: black;
            text-align: center;
        }
        p{  border: solid 3px black;
            border-radius: 10px;
            background-color: cornflowerblue;
        }

    </style>
</head>
<body>
<h1>In the name of Allah</h1>      <pre>
<p><span>
    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Assumenda est minus molestias
    nostrum odio odit rem sit? Consectetur dolores fugit ipsam, molestiae nisi officiis
    placeat provident quidem, quis quo, similique.</span><span>Distinctio explicabo facere laborum modi nemo
    officia optio pariatur perspiciatis quia, velit! Assumenda debitis dolorem ex incidunt inventore,
    ipsam iusto modi mollitia nisi officia perferendis possimus quis sit! Ab, qui!

</span></p></pre>
</body>
</html>